<?xml version="1.0" encoding="utf-8"?>
<CPackSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" Version="0">
  <CPacks>
    <CPack Name="Engima.BootCamp.TrainingAmmo" Major="0" Minor="70" Build="0">
      <Files>
        <CPackFile Name="Engima/BootCamp/TrainingAmmo/Client/EventHandlers/HandleDamage.sqf" CheckSum="tlLgKHD+uXtkipA+DlOwgg==" />
        <CPackFile Name="Engima/BootCamp/TrainingAmmo/Client/InitClient.sqf" CheckSum="Ww1Vzoo2IkXf4uigORMDtw==" />
        <CPackFile Name="Engima/BootCamp/TrainingAmmo/Init.sqf" CheckSum="+IfA0Vk/2Xk4/qObzj4ZjQ==" />
        <CPackFile Name="Engima/BootCamp/TrainingAmmo/Server/InitServer.sqf" CheckSum="buE0PaDDL7g3dTjYNB3FXQ==" />
        <CPackFile Name="Engima/BootCamp/TrainingAmmo/Server/UnitsSpawnService.sqf" CheckSum="6sjNwjsRD6q8s+pgkseCBQ==" />
      </Files>
      <Dependencies />
      <InitLine>call compile preprocessFileLineNumbers "Engima\BootCamp\TrainingAmmo\Init.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
  </CPacks>
</CPackSettings>